body {
    background-color:#CFE0CE;
}
#WTE {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    color:#FF4545;
    margin-top:55px;
    margin-bottom:55px;
    font-size:10vw;
}
#Form {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin-top:20px;
    margin-bottom:20px;
    font-size:2vw;
}
#Button {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    
}
#Click {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 16px;
    font-size: 2vw;
}
#foodpl {
    width:20%;
    font-size:2vw;
}
